<td class="left" width="100%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px"> 

			<p class="tabletitle">&raquo; General CoreCodex Questions</p>
			
			<p><strong>Is CoreCodex free?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				Yes, this website is 100% free! In the future we will open up a service for professor / 
				academic level use which may or may not require a subscription service fee. For end-users,
				including students, this site will always remain free.
			</div>
			
			<p><strong>How was CoreCodex developed?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				CoreCodex was written entirely in the <a href="http://www.python.org/">Python</a>
				programming language using the <a href="http://www.pylonshq.com/">Pylons</a>
				framework. We are currently hosted on <a href="http://www.dreamhost.com/">DreamHost</a>,
				a great website hosting company!
			</div>
			
			<p><strong>Who developed CoreCodex?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				Jeremy Bridon, under his company <a href="http://www.cores2.com">Core S<sup>2</sup> - Software Solutions</a>.
				Feel free to <a href="/contact">contact us</a> if you have any questions for the developer.
			</div>
			
			<p><strong>There's something broken! How do I submit a bug?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				CoreCodex is deep in alpha testing; we expect many things to break and many of our programming
				challenges to possibly be reporting false-positives for judging results. Regardless, 
				if you want to report a bug, feel free to <a href="/contact">contact us</a> directly.
				There is also a bug-reporting system that you can access using the Guest/guest username/password
				found here, on our <a href="http://bugs.cores2.com">Mantis bug-tracking system</a>.
			</div>
			
			<p><strong>Why don't I see the text input I'm programming against?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				When submitting your code, we never show the output results nor the test inputs. The reason
				is to keep things fair and to prevent you from writing a dummy program that gives you the
				expected outputs so that you can trick the system into thinking you actually wrote a solution.
			</div>
			
			<p><strong>What languages do you support?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				In this alpha-state of testing, we only support Python. In the near future when the application
				matures enough to be labled "beta", we will support C, C++, and Java. In the future we might
				also support even more languages, such as Lisp, C#, and even Visual Basic.
			</div>
			
			<p><strong>How do you render those charts in challenge descriptions?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				We use <a href="http://code.google.com/apis/chart/">Google Charts</a>, which is a neat service that allows us to render these images off-server.
			</div>
			
			<br/>
			
			<p class="tabletitle">&raquo; Python Programming Questions</p>
			
			<p><strong>What version(s) of Python do you support?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				We currently support Python2.4, though soon plan to support Python 2.7 (latest V2 release)
				and Python 3.1!
			</div>
			
			<p><strong>Should I use tabs or four-spaces?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				Python is very format-sensitive. When writing a block of code, the amount of space
				you have representing a block of code must be consistent: either "tab" with four spaces
				or tab with the actual ascii-tab value (using your keyboard's tab key). CoreCodex and CoreJudge
				assume you are tabbing using the ascii-tab values, and thus all code submitted should
				use the tab key from your keyboard. We are aware this is not what some users prefer, and thus
				we are working on creating a preference for this.
			</div>
			
			<p><strong>What libraries are included?</strong></p>
			
			<div style="width: 95%; text-align: left; margin-left: auto; margin-right: auto;">
				The only imports / libraries available to Python developers are the math, random,
				and regex libraries. This is for security reasons.
			</div>
			
			<br/>
			
		</div>
	</div>
</td>
