<td class="left" width="100%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px;" align="center"> 
			
			<p class="tabletitle">CoreCodex &raquo; Error!</p> 
			
			<h1>${c.error_description}</h1>
			
			<img src="/images/error_face.png" alt="Oh noes, an error..." />
			
			<div style="width: 500px; margin-left: auto: margin-right: auto;">
				<p>
					Well darn, looks like something crashed on our end. We aren't too sure,
					but as you can tell by the picture above we sure weren't expecting it.
					If you feel like it, <a href="/contact">contact us</a> and tell us how
					you got here.
				</p>
			</div>
			
		</div>
	</div>
</td>
