<td class="left" width="100%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px"> 

			<p class="tabletitle">&raquo; CoreCodex Privacy Policy</p>
			
			<p><strong>Your privacy is important to us!</strong></p>
			
			<p>Normally most websites put a few large paragraphs here explaining in detail, full of legal jargon,
			how we swear with the upmost respect that we totally would not abuse your information,
			you can trust us, and we only have your best intentions in mind! Yeah, about that...</p>
			
			<p>We here at CoreS<sup>2</sup> Software Solutions really do want to respect your
			privacy and we really do mean that from the bottoms of our hearts. The difference is that we aren't
			going to bull-shit you with legal mumbo-jumpbo. We really like your business and we don't ever
			want to loose you as a user! Thats why we're going to keep our privacy polciy real simple:</p>
			
			<p><div align="center"><strong>We will <i>never</i> release any of your personal information <i>ever</i> to anyone.</strong></div></p>
			
			<p>Thats it! All of our users and near and dear to us, and we want to show we only have the best intentions.
			If we do upset you at some point, you are more than welcomed to delete your account (how
			many sites have that feature?) and we guarantee your information will be 100% purged from our
			databases.</p>
			
		</div>
	</div>
</td>
