<td class="left" width="100%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px"> 
			
			<p class="tabletitle">&raquo; About CoreCodex</p> 
			
			<p><strong>Introduction</strong></p>
			
			<p>CoreCodex is an academic tool used for autmated testing of a user's
			code. Student and professor alike can use CoreCodex, as well as the general
			public to help with learning a new language, learning new features, or developing
			better code techniques.</p>
			
			</p>CoreCodex contains many programming problems, as well as alows the creation
			of new programming challenges, so that students and professors can quickly test
			themselves or others. These challenges aren't just about testing code, but are
			also meant as a way to learn the real-world implications of data structures
			and algorithm design.<p>
			
			<p>Similar to the online ACM judge and ACM collegiate competative programming events,
			this system accepts multiple languages and types of problems. Currently
			supported languages include Python, C, C++, and Java.</p>
			
			<p>CoreCodex was developed by <a href="http://www.cores2.com/blog/?page_id=20">Jeremy Bridon of CoreS<sup>2</sup> Software Solutions</a>.
			Check out his blog and keep yourself updated! The site is currently in an alpha state
			and is thus heavily under development. Send him an email if you see something broken.</p>
			
		</div>
	</div>
</td>
