<td class="left" width="100%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px"> 

			<p class="tabletitle">&raquo; CoreCodex Licensing</p>
			
			<p><strong>Want to use CoreCodex for your class, university, or school?</strong></p>
			
			<p>CoreCodex is currently a free educational tool. If you would like to manage your
			grading or automate code testing of your student's work, simply register your account
			and click on your user name to generate new programming challenges and manage
			your course roster.</p>
			
			<p>Please note that CoreCodex and CoreS<sup>2</sup> reserves the right to require
			an educational license fee in the future.</p>
			
		</div>
	</div>
</td>
