<td class="left" width="60%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px;">
			
			<p class="tabletitle">CoreCodex &raquo; Dream, Code, Compile!</p> 
			
			<div style="width: 95%; margin-left: auto; margin-right: auto;">
			
				<p>Want to learn how to program? Want to learn a new language? What about
				about algorithms and data structures? Welcome to CoreCodex, a site where you
				can be challenged to learn, compete, and win!</p>
				
				<p>CoreCodex is a free, automated code judging website that gives you a wide range of
				problems to solve using your choice of multiple popular programming languages and
				techniques. Best of all: theres nothing to buy, install, or download. Find a
				programming challenge you find interesting and try to solve it. Your solution earns you
				points, can get you achievements, and if you find a unique and impressive solution, will
				get you noticed and ranked amongst the best programmers in the community!</p>
				
				<div style="text-align: center;">
					<iframe title="YouTube video player" width="425" height="349" src="http://www.youtube.com/embed/wGWMANCvn2Q?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
				
				<p>Are you a professor and want to automate testing of student's code? Using CodeCordex,
				you can create course rosters, class challenges, and see which students perform the best.
				No need to sit down and manage student submited source files - browse, judge, and rank all
				your student's work online. <a href="./license">Educational licensing is current free!</a></p>
			
			</div>
			
		</div>
	</div>
</td>

<td class="right" width="40%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px;"> 
			
			<p class="tabletitle"> &raquo; What are you waiting for?</p> 
			
			<div style="width: 95%; margin-left: auto; margin-right: auto;">
			
				<p>Get started today! Joining is free and easy - just <a href="./register">register</a> for
				an account, find a problem you like, and try to solve it. Got your own interesting programming
				problem? Submit one and see how programmers from around the world try to solve it.</p>
			
			</div>
			
			<p class="tabletitle"> &raquo; Quick Links</p> 
			
			<div style="text-align: center;">
				<h2><a href="/challenges/view"><img src="/icons/home.png" /> Programming Challenges</a></h2>
				<h2><a href="/leaderboard"><img src="/icons/leaderboard.png" /> Leaderboard</a></h2>
				<div><a href="/login">Login</a> or <a href="/register">Register</a></div>
				<div><a href="/achievements">Achievements List</a></div>
			</div>
			
			<p class="tabletitle"> &raquo; News from Feb. 23rd 2011</p> 
			
			<div style="width: 95%; margin-left: auto; margin-right: auto;">
			
				<p>All previously registered accounts have beend deleted due to a migration towards a higher
				level of security (passwords are now SHA2 [512 bits] hashed). Also, new challenges have been ported
				over from the ACM Collegiate Programming Competition and from the Euler Challenges website. These
				are only temporary challenges which will be replaced with ones we write ourselves.</p>
				<p>internally, we have updated the challenge file format for higher performance
				and ease of challenge development. Finally, our greatest feature addition is that of an in-line
				Python editor, visible when submitting challenges. Pick any problem, attempt to solve it, and check
				out our CodeMirror-based pseudo-IDE solution!</p>
			
			</div>
			
			<br/>
			
			<p class="tabletitle"> &raquo; News from Feb. 16th 2011</p> 
			
			<div style="width: 95%; margin-left: auto; margin-right: auto;">
			
				<p>The CoreCodex judge is now online and fully-functional! Though we only currently support
				Python stdio (Standard I/O) and function based challenges, new ones are on the way! Expect
				more string-manipulation tutorials as well as an updated Q&A section on the site explaining
				more of the details of the judging system. I have also updated the application version to v0.5</p>
				
				<p>Basic user preferences have also been implemented. Right now users can choose to change
				their passwords, though in the future we will support custom icons, administrative features,
				and course content features.</p>
			
			</div>
			
			<p class="tabletitle"> &raquo; Supported Languages:</p> 
			
			<div style="text-align: center;">
				<br/>
				<img src="/images/logo_python.png" alt="Python" />
					<img src="/images/spacer.gif" alt=" " width="1" height="1" style="margin-right: 5px; margin-left: 10px;" />
				<img src="/images/logo_gcc.png" alt="GCC C / C++" />
					<img src="/images/spacer.gif" alt=" " width="1" height="1" style="margin-right: 5px; margin-left: 10px;" />
				<img src="/images/logo_java.png" alt="Java" />
			</div>
			
		</div>
	</div>
</td>
