<td class="left" width="100%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px"> 

			<p class="tabletitle">&raquo; Contact CoreCodex</p> 
			
			<p><strong>Problem? Sudgestions? Questions?</strong></p>
			
			<p>CoreCodex was developed by <a href="http://www.cores2.com">Jeremy Bridon of CoreS<sup>2</sup> Software Solutions</a>.
			The site is currently in an alpha state and is thus heavily under development. Send him an email if you see something broken.</p>
			
		</div>
	</div>
</td>
