
					</tr>
				</table>
			</div>
		</div>
		
		<!-- Footer -->
		<div id="footer">
			<div id="footer-inner" class="title bottom-left-rounded-corner bottom-right-rounded-corner">
				<div id="copyright-footer">
					<a href="/about">About</a> -
					<a href="/contact">Contact</a> - 
					<a href="/license">Licensing</a> - 
					<a href="/policy">Privacy Policy</a> - 
					<a href="/help">Help</a>
					
					<hr width="400px" />
					
					<a href="http://www.cores2.com">
						<small>Core S<sup>2</sup> Software Solutions - ${app_globals.version_description} - &copy;2011</small>
					</a>
					
					<!-- So say we all! -->
					
				</div>
				
			</div>
		</div>
		
	</body>
	
</html>
