<td class="left" width="100%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px"> 
			
			<p class="tabletitle">&raquo; Login</p> 
			
			<div align="center">
				<form method="POST" action="/recover">
					<h1>
						<img src="/icons/smirk.png" /> Password Recovery
					</h1>
					<h3>
						${c.recover_error}
					</h3>
					<p>
						Username: <input type="text" name="username" size="20" /><br />
					</p>
					<p>
						<input type="submit" value="   Send Recovery E-Mail   " />
					</p>
				</form>
			</div>
			
		</div>
	</div>
</td>
