<td class="left" width="100%" valign="top"> 
	<div class="padded"> 
		<div style="margin-bottom: 10px"> 
			
			<p class="tabletitle">&raquo; Registered</p> 
			
			<div style="width: 400px; margin-left: auto; margin-right: auto;">
				<div style="text-align: center;">
					
					<h1>
						<img src="/icons/smirk.png" /> User Registered!
					</h1>
				</div>
				<div style="text-align: left;">
					
					<p>
						Now that you are registered, here are a few things you can do:
					</p>
					
					<ul>
						<li>Go back to our <a href="">home page</a> to read the latest news</li>
						<li>Check out your own user page, clicking up top on your <a href="/users/${c.user_name}">user account information</a></li>
						<li>Start programming! Find a challenge you like, and code a solution today!</li>
					</ul>

				</div>				
			</div>
			
		</div>
	</div>
</td>
