<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
	<head>
	
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="Core S2 Software Solutions" />
		<meta name="keywords" content="Jeremy Bridon Core S2 Core Software Solutions Penn State Pennsylvania State University Programming Challences ACM Competative" />
		
		<title>
			CoreCodex &raquo; Dream, Code, Compile!
		</title>
		
		<link rel="icon" href="/favicon.ico" />
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<link rel="stylesheet" href="/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/pygments.css" type="text/css" media="all" />
		
		<!-- Google Analytics Script -->
		<script type="text/javascript">
		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-13144945-3']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		</script>
		
	</head>
	
	<body>
